.Container{
    color: black;
    text-align: center;
    margin: 0 auto;
    p{
        color:  #A5A5B4;
    }
}
.GridTodo{
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.Margin{
    margin-top: 100px;
}
.To{
    text-align: center;
}
.Items{
    padding: 0.9rem  1rem;
    text-align: start;
    width: 620px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 15px;
    margin: 1rem;
    transition: .3s ease-in;
}
.Items:hover{
  box-shadow: 4px 4px rgb(39, 190, 9), 8px 8px blue;
  top: -10px;
  left: -10px;
  transform: scale(0.9);
}
.Routers{
    font-size: 35px;
    margin: 0 auto;
    width: 500px;
    display:flex;
    justify-content: space-around;
}
.FirstText{
    width: 120px;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.Link{
    text-decoration: none;
    color: black ;
}

.SecondText{
    width: 215px;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.Small{
    margin-left: 15px;
    margin-top: 25px;
    font-size: 30px;    
}
.SixCounter{
    margin-left: 15px;
}
.TaskCounter{
    margin-top: 21px;
    margin-left: 15px;

}
.CheckBlock{
    display: flex;
    .Task{
        margin: 0 ;
        margin-left: 5px;
    }
}
.LeftDays{
    color:  #ffc700 !important;
}

