<template>
  <div class="Home">
    <div class="Container">
      <h1>ALL TODOS</h1>
      <div class="TodayTodo">
        <div class="FirstText">
          <!-- <h1>TODAY&#8211;  </h1> -->
          <h1><router-link class="Link" to="/OnlyToday">TODAY</router-link></h1>
          <h1 class="TaskCounter">{{ Today.length }}</h1>
        </div>
        <div class="GridTodo">
          <div class="Items" v-for="item of Today" :key="item.id">
            <div class="CheckBlock">
              <input
                class="NewCheck"
                type="checkbox"
                :checked="item.completed"
                @click="item.completed = !item.completed"
              />
              <h3 class="Task">{{ item.task }}</h3>
            </div>
            <p>
              {{ item.title }}
            </p>
            <h3 class="LeftDays">TODAY</h3>
          </div>
        </div>
      </div>
      <div class="Tomorrow Margin">
        <div class="SecondText">
          <h1>TOMORROW</h1>
          <h1 class="SixCounter">{{ Tomorrow.length }}</h1>
        </div>
        <div class="GridTodo">
          <div class="Items" v-for="item of Tomorrow" :key="item.id">
            <div class="CheckBlock">
              <input
                class="NewCheck"
                type="checkbox"
                :checked="item.completed"
                @click="item.completed = !item.completed"
              />
              <h3 class="Task">{{ item.task }}</h3>
            </div>
            <p class="TodoTitle">
              {{ item.title }}
            </p>
            <h3 class="LeftDays">TOMORROW</h3>
          </div>
        </div>
      </div>
      <div class="Later Margin">
        <div class="FirstText">
          <h1>Later</h1>
          <h1 class="Small">{{ Later.length }}</h1>
        </div>
        <div class="GridTodo">
          <div class="Items" v-for="item of Later" :key="item.id">
            <div class="CheckBlock">
              <input
                class="NewCheck"
                type="checkbox"
                :checked="item.completed"
                @click="item.completed = !item.completed"
              />
              <h3 class="Task">{{ item.task }}</h3>
            </div>
            <p>
              {{ item.title }}
            </p>
            <h3 class="LeftDays">
              Later
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",
  computed: {
    ...mapGetters(["Todos", "Today", "Tomorrow", "Later", ]),
  },
  created: function () {
    this.SORTED_ARRAYS();
  },
  methods: {
    ...mapActions(["SORTED_ARRAYS"]),
  },
};
</script>
