<template>
  <div>
    <div class="TodayTodo">
      <div class="FirstText">
        <h1>TODAY</h1>
        <h1 class="TaskCounter">({{ Today.length }})</h1>
      </div>
      <div class="GridTodo">
        <div class="Items" v-for="item of Today" :key="item.id">
          <div class="CheckBlock">
            <input
              class="NewCheck"
              type="checkbox"
              :checked="item.completed"
              @click="item.completed = !item.completed"
            />
            <h3 class="Task">{{ item.task }}</h3>
          </div>
          <p>
            {{ item.title }}
          </p>
          <h3 class="LeftDays">
            TODAY
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters(["Today"]),
  },
  created: function () {
    this.FILTER_ARRAYS();
  },
  methods: {
    ...mapActions(["FILTER_ARRAYS"]),
  },
};
</script>

