<template>
  <div id="app">
    <div id="nav">
      <div class="Routers">
        <router-link to="/">HOMEPAGE</router-link> 
        <router-link to="/OnlyToday">ONLY TODAY</router-link>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import css from "../css/style.css";

export default {};
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  text-align: center;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #ffc700;
}
</style>
